li {
   background-color: dimgray;
}

footer {
    background-color: black;
}

.Pink {
     background-color: lightpink;
        text-align: center;
        display: flex;
        align-content: flex-start;
        gap: 20%;
    
}

.black {
    background-color: black;
    text-align: center;
        display: flex;
        align-content: flex-start;
        gap: 20%;
}

.blue {
    background-color: blue;
    text-align: center;
        display: flex;
        align-content: flex-start;
        gap: 18%;
}

.black1{ 
    background-color: black;
        justify-content: center;
        display: flex;
        /* align-content: center; */
    }


.blue1{
    background-color: aquamarine;
    text-align: center;
        display: flex;
        align-content: flex-start;
        gap: 20%;
}

img{
    max-width: 700px;
}

.radius {
        display: flex;
        justify-content: center;
        list-style: none;
        gap: 10px;
}

.radius button {
        width: 15px;
        height: 15px;
        border-radius: 51%;
}

.radius li{
    background-color: transparent;
}